body{
	background-size: cover;
	background-position: center; 
}


.form-box{
	max-width: 350px;
	border:1px solid #ced4da;
	/*margin: 10%auto 0;*/ /*form-box jadi ke tengah*/
}





.booking-form{
	padding: 0 20px 20px;
}

.booking-form label{
	margin-bottom: 5px;
	margin-top:10px;
	font-size: 12px;
	color: #000;
}

.booking-form button{
	margin-bottom: 5px;
	margin-top:10px;
	font-size: 12px;
	color: #000;
}

input::placeholder{
	color: #7e877c !important;
}

.input-grp{
	width:151px;
	display: inline-block;
}

.form-control {
	font-size: 12px !important;
	border-radius: 0 !important;
	color: #000 !important;
	box-shadow: none !important;
}



.travel{
	width: 100%;
	background: #fff !important;
	color: #000  !important;
	
	padding: 9px 0 !important;
	font-size: 12px !important;
	border: 1px solid #ced4da !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

.travel:hover {
	background-color: #94c045!important;
	color: #fff !important;
	transition: 0.5s;
}

.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}

  [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

